In [42]:
import pandas as pd
import numpy as np
import functools

from IPython.display import display, HTML

In [2]:
names_new = [
    "Tom",
    "Sally",
    "John",
]

In [3]:
names_old = [
    "Tom",
    "Sally",
    "John",
]

In [4]:
ages_new = [
    "1",
    "10",
    "25",
]

In [5]:
ages_old = [
    "1",
    "70",
    "25",
]

In [6]:
fav_color_new = [
    "blue",
    "blue",
    "blue",
]

In [7]:
fav_color_old = [
    "blue",
    "blue",
    "orange",
]

In [17]:
data = list(zip(names_new, names_old, ages_new, ages_old, fav_color_new, fav_color_old))
cols = ["names_new", "names_old", "ages_new", "ages_old", "fav_color_new", "fav_color_old"]

In [18]:
df = pd.DataFrame(data, columns=cols)
display(HTML(df.to_html()))

In [20]:
conds = pd.DataFrame(columns=["cond1", "cond2", "cond3"], dtype=bool)
display(HTML(conds.to_html()))

In [39]:
conds.cond1 = df["names_new"].eq(df["names_old"])
conds.cond2 = df["ages_new"].eq(df["ages_old"])
conds.cond3 = df["fav_color_new"].eq(df["fav_color_old"])

In [40]:
display(HTML(conds.to_html()))

In [41]:
display(HTML(conds.to_html()))

In [61]:
d1 = df[~conds.cond1 | ~conds.cond2 | ~conds.cond3]

In [62]:
display(HTML(d1.to_html()))

In [55]:
display(HTML(df.to_html()))